@{
    ViewData["Title"] = "Home Page";
}

<div b-8vypa4p1b0="" class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div b-8vypa4p1b0="" class="content-header">
        <div b-8vypa4p1b0="" class="container-fluid">
            <div b-8vypa4p1b0="" class="row mb-2">
                <div b-8vypa4p1b0="" class="col-sm-6">
                    <h1 b-8vypa4p1b0="" class="m-0">Dashboard v2</h1>
                </div><!-- /.col -->
                <div b-8vypa4p1b0="" class="col-sm-6">
                    <ol b-8vypa4p1b0="" class="breadcrumb float-sm-right">
                        <li b-8vypa4p1b0="" class="breadcrumb-item"><a b-8vypa4p1b0="" href="#">Home</a></li>
                        <li b-8vypa4p1b0="" class="breadcrumb-item active">Dashboard v2</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section b-8vypa4p1b0="" class="content">
        <div b-8vypa4p1b0="" class="container-fluid">
            <!-- Info boxes -->
            <div b-8vypa4p1b0="" class="row">
                <div b-8vypa4p1b0="" class="col-12 col-sm-6 col-md-3">
                    <div b-8vypa4p1b0="" class="info-box">
                        <span b-8vypa4p1b0="" class="info-box-icon bg-info elevation-1"><i b-8vypa4p1b0="" class="fas fa-cog"></i></span>

                        <div b-8vypa4p1b0="" class="info-box-content">
                            <span b-8vypa4p1b0="" class="info-box-text">CPU Traffic</span>
                            <span b-8vypa4p1b0="" class="info-box-number">
                                10
                                <small b-8vypa4p1b0="">%</small>
                            </span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
                <div b-8vypa4p1b0="" class="col-12 col-sm-6 col-md-3">
                    <div b-8vypa4p1b0="" class="info-box mb-3">
                        <span b-8vypa4p1b0="" class="info-box-icon bg-danger elevation-1"><i b-8vypa4p1b0="" class="fas fa-thumbs-up"></i></span>

                        <div b-8vypa4p1b0="" class="info-box-content">
                            <span b-8vypa4p1b0="" class="info-box-text">Likes</span>
                            <span b-8vypa4p1b0="" class="info-box-number">41,410</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
                <!-- fix for small devices only -->
                <div b-8vypa4p1b0="" class="clearfix hidden-md-up"></div>

                <div b-8vypa4p1b0="" class="col-12 col-sm-6 col-md-3">
                    <div b-8vypa4p1b0="" class="info-box mb-3">
                        <span b-8vypa4p1b0="" class="info-box-icon bg-success elevation-1"><i b-8vypa4p1b0="" class="fas fa-shopping-cart"></i></span>

                        <div b-8vypa4p1b0="" class="info-box-content">
                            <span b-8vypa4p1b0="" class="info-box-text">Sales</span>
                            <span b-8vypa4p1b0="" class="info-box-number">760</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
                <div b-8vypa4p1b0="" class="col-12 col-sm-6 col-md-3">
                    <div b-8vypa4p1b0="" class="info-box mb-3">
                        <span b-8vypa4p1b0="" class="info-box-icon bg-warning elevation-1"><i b-8vypa4p1b0="" class="fas fa-users"></i></span>

                        <div b-8vypa4p1b0="" class="info-box-content">
                            <span b-8vypa4p1b0="" class="info-box-text">New Members</span>
                            <span b-8vypa4p1b0="" class="info-box-number">2,000</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->

            <div b-8vypa4p1b0="" class="row">
                <div b-8vypa4p1b0="" class="col-md-12">
                    <div b-8vypa4p1b0="" class="card">
                        <div b-8vypa4p1b0="" class="card-header">
                            <h5 b-8vypa4p1b0="" class="card-title">Monthly Recap Report</h5>

                            <div b-8vypa4p1b0="" class="card-tools">
                                <button b-8vypa4p1b0="" type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i b-8vypa4p1b0="" class="fas fa-minus"></i>
                                </button>
                                <div b-8vypa4p1b0="" class="btn-group">
                                    <button b-8vypa4p1b0="" type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown">
                                        <i b-8vypa4p1b0="" class="fas fa-wrench"></i>
                                    </button>
                                    <div b-8vypa4p1b0="" class="dropdown-menu dropdown-menu-right" role="menu">
                                        <a b-8vypa4p1b0="" href="#" class="dropdown-item">Action</a>
                                        <a b-8vypa4p1b0="" href="#" class="dropdown-item">Another action</a>
                                        <a b-8vypa4p1b0="" href="#" class="dropdown-item">Something else here</a>
                                        <a b-8vypa4p1b0="" class="dropdown-divider"></a>
                                        <a b-8vypa4p1b0="" href="#" class="dropdown-item">Separated link</a>
                                    </div>
                                </div>
                                <button b-8vypa4p1b0="" type="button" class="btn btn-tool" data-card-widget="remove">
                                    <i b-8vypa4p1b0="" class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div b-8vypa4p1b0="" class="card-body">
                            <div b-8vypa4p1b0="" class="row">
                                <div b-8vypa4p1b0="" class="col-md-8">
                                    <p b-8vypa4p1b0="" class="text-center">
                                        <strong b-8vypa4p1b0="">Sales: 1 Jan, 2014 - 30 Jul, 2014</strong>
                                    </p>

                                    <div b-8vypa4p1b0="" class="chart">
                                        <!-- Sales Chart Canvas -->
                                        <canvas b-8vypa4p1b0="" id="salesChart" height="180" style="height: 180px;"></canvas>
                                    </div>
                                    <!-- /.chart-responsive -->
                                </div>
                                <!-- /.col -->
                                <div b-8vypa4p1b0="" class="col-md-4">
                                    <p b-8vypa4p1b0="" class="text-center">
                                        <strong b-8vypa4p1b0="">Goal Completion</strong>
                                    </p>

                                    <div b-8vypa4p1b0="" class="progress-group">
                                        Add Products to Cart
                                        <span b-8vypa4p1b0="" class="float-right"><b b-8vypa4p1b0="">160</b>/200</span>
                                        <div b-8vypa4p1b0="" class="progress progress-sm">
                                            <div b-8vypa4p1b0="" class="progress-bar bg-primary" style="width: 80%"></div>
                                        </div>
                                    </div>
                                    <!-- /.progress-group -->

                                    <div b-8vypa4p1b0="" class="progress-group">
                                        Complete Purchase
                                        <span b-8vypa4p1b0="" class="float-right"><b b-8vypa4p1b0="">310</b>/400</span>
                                        <div b-8vypa4p1b0="" class="progress progress-sm">
                                            <div b-8vypa4p1b0="" class="progress-bar bg-danger" style="width: 75%"></div>
                                        </div>
                                    </div>

                                    <!-- /.progress-group -->
                                    <div b-8vypa4p1b0="" class="progress-group">
                                        <span b-8vypa4p1b0="" class="progress-text">Visit Premium Page</span>
                                        <span b-8vypa4p1b0="" class="float-right"><b b-8vypa4p1b0="">480</b>/800</span>
                                        <div b-8vypa4p1b0="" class="progress progress-sm">
                                            <div b-8vypa4p1b0="" class="progress-bar bg-success" style="width: 60%"></div>
                                        </div>
                                    </div>

                                    <!-- /.progress-group -->
                                    <div b-8vypa4p1b0="" class="progress-group">
                                        Send Inquiries
                                        <span b-8vypa4p1b0="" class="float-right"><b b-8vypa4p1b0="">250</b>/500</span>
                                        <div b-8vypa4p1b0="" class="progress progress-sm">
                                            <div b-8vypa4p1b0="" class="progress-bar bg-warning" style="width: 50%"></div>
                                        </div>
                                    </div>
                                    <!-- /.progress-group -->
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- ./card-body -->
                        <div b-8vypa4p1b0="" class="card-footer">
                            <div b-8vypa4p1b0="" class="row">
                                <div b-8vypa4p1b0="" class="col-sm-3 col-6">
                                    <div b-8vypa4p1b0="" class="description-block border-right">
                                        <span b-8vypa4p1b0="" class="description-percentage text-success"><i b-8vypa4p1b0="" class="fas fa-caret-up"></i> 17%</span>
                                        <h5 b-8vypa4p1b0="" class="description-header">$35,210.43</h5>
                                        <span b-8vypa4p1b0="" class="description-text">TOTAL REVENUE</span>
                                    </div>
                                    <!-- /.description-block -->
                                </div>
                                <!-- /.col -->
                                <div b-8vypa4p1b0="" class="col-sm-3 col-6">
                                    <div b-8vypa4p1b0="" class="description-block border-right">
                                        <span b-8vypa4p1b0="" class="description-percentage text-warning"><i b-8vypa4p1b0="" class="fas fa-caret-left"></i> 0%</span>
                                        <h5 b-8vypa4p1b0="" class="description-header">$10,390.90</h5>
                                        <span b-8vypa4p1b0="" class="description-text">TOTAL COST</span>
                                    </div>
                                    <!-- /.description-block -->
                                </div>
                                <!-- /.col -->
                                <div b-8vypa4p1b0="" class="col-sm-3 col-6">
                                    <div b-8vypa4p1b0="" class="description-block border-right">
                                        <span b-8vypa4p1b0="" class="description-percentage text-success"><i b-8vypa4p1b0="" class="fas fa-caret-up"></i> 20%</span>
                                        <h5 b-8vypa4p1b0="" class="description-header">$24,813.53</h5>
                                        <span b-8vypa4p1b0="" class="description-text">TOTAL PROFIT</span>
                                    </div>
                                    <!-- /.description-block -->
                                </div>
                                <!-- /.col -->
                                <div b-8vypa4p1b0="" class="col-sm-3 col-6">
                                    <div b-8vypa4p1b0="" class="description-block">
                                        <span b-8vypa4p1b0="" class="description-percentage text-danger"><i b-8vypa4p1b0="" class="fas fa-caret-down"></i> 18%</span>
                                        <h5 b-8vypa4p1b0="" class="description-header">1200</h5>
                                        <span b-8vypa4p1b0="" class="description-text">GOAL COMPLETIONS</span>
                                    </div>
                                    <!-- /.description-block -->
                                </div>
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.card-footer -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
            <!-- Main row -->
            <div b-8vypa4p1b0="" class="row">
                <!-- Left col -->
                <div b-8vypa4p1b0="" class="col-md-8">
                    <!-- MAP & BOX PANE -->
                    <div b-8vypa4p1b0="" class="card">
                        <div b-8vypa4p1b0="" class="card-header">
                            <h3 b-8vypa4p1b0="" class="card-title">US-Visitors Report</h3>

                            <div b-8vypa4p1b0="" class="card-tools">
                                <button b-8vypa4p1b0="" type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i b-8vypa4p1b0="" class="fas fa-minus"></i>
                                </button>
                                <button b-8vypa4p1b0="" type="button" class="btn btn-tool" data-card-widget="remove">
                                    <i b-8vypa4p1b0="" class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div b-8vypa4p1b0="" class="card-body p-0">
                            <div b-8vypa4p1b0="" class="d-md-flex">
                                <div b-8vypa4p1b0="" class="p-1 flex-fill" style="overflow: hidden">
                                    <!-- Map will be created here -->
                                    <div b-8vypa4p1b0="" id="world-map-markers" style="height: 325px; overflow: hidden">
                                        <div b-8vypa4p1b0="" class="map"></div>
                                    </div>
                                </div>
                                <div b-8vypa4p1b0="" class="card-pane-right bg-success pt-2 pb-2 pl-4 pr-4">
                                    <div b-8vypa4p1b0="" class="description-block mb-4">
                                        <div b-8vypa4p1b0="" class="sparkbar pad" data-color="#fff">90,70,90,70,75,80,70</div>
                                        <h5 b-8vypa4p1b0="" class="description-header">8390</h5>
                                        <span b-8vypa4p1b0="" class="description-text">Visits</span>
                                    </div>
                                    <!-- /.description-block -->
                                    <div b-8vypa4p1b0="" class="description-block mb-4">
                                        <div b-8vypa4p1b0="" class="sparkbar pad" data-color="#fff">90,50,90,70,61,83,63</div>
                                        <h5 b-8vypa4p1b0="" class="description-header">30%</h5>
                                        <span b-8vypa4p1b0="" class="description-text">Referrals</span>
                                    </div>
                                    <!-- /.description-block -->
                                    <div b-8vypa4p1b0="" class="description-block">
                                        <div b-8vypa4p1b0="" class="sparkbar pad" data-color="#fff">90,50,90,70,61,83,63</div>
                                        <h5 b-8vypa4p1b0="" class="description-header">70%</h5>
                                        <span b-8vypa4p1b0="" class="description-text">Organic</span>
                                    </div>
                                    <!-- /.description-block -->
                                </div><!-- /.card-pane-right -->
                            </div><!-- /.d-md-flex -->
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                    <div b-8vypa4p1b0="" class="row">
                        <div b-8vypa4p1b0="" class="col-md-6">
                            <!-- DIRECT CHAT -->
                            <div b-8vypa4p1b0="" class="card direct-chat direct-chat-warning">
                                <div b-8vypa4p1b0="" class="card-header">
                                    <h3 b-8vypa4p1b0="" class="card-title">Direct Chat</h3>

                                    <div b-8vypa4p1b0="" class="card-tools">
                                        <span b-8vypa4p1b0="" title="3 New Messages" class="badge badge-warning">3</span>
                                        <button b-8vypa4p1b0="" type="button" class="btn btn-tool" data-card-widget="collapse">
                                            <i b-8vypa4p1b0="" class="fas fa-minus"></i>
                                        </button>
                                        <button b-8vypa4p1b0="" type="button" class="btn btn-tool" title="Contacts" data-widget="chat-pane-toggle">
                                            <i b-8vypa4p1b0="" class="fas fa-comments"></i>
                                        </button>
                                        <button b-8vypa4p1b0="" type="button" class="btn btn-tool" data-card-widget="remove">
                                            <i b-8vypa4p1b0="" class="fas fa-times"></i>
                                        </button>
                                    </div>
                                </div>
                                <!-- /.card-header -->
                                <div b-8vypa4p1b0="" class="card-body">
                                    <!-- Conversations are loaded here -->
                                    <div b-8vypa4p1b0="" class="direct-chat-messages">
                                        <!-- Message. Default to the left -->
                                        <div b-8vypa4p1b0="" class="direct-chat-msg">
                                            <div b-8vypa4p1b0="" class="direct-chat-infos clearfix">
                                                <span b-8vypa4p1b0="" class="direct-chat-name float-left">Alexander Pierce</span>
                                                <span b-8vypa4p1b0="" class="direct-chat-timestamp float-right">23 Jan 2:00 pm</span>
                                            </div>
                                            <!-- /.direct-chat-infos -->
                                            <img b-8vypa4p1b0="" class="direct-chat-img" src="dist/img/user1-128x128.jpg" alt="message user image">
                                            <!-- /.direct-chat-img -->
                                            <div b-8vypa4p1b0="" class="direct-chat-text">
                                                Is this template really for free? That's unbelievable!
                                            </div>
                                            <!-- /.direct-chat-text -->
                                        </div>
                                        <!-- /.direct-chat-msg -->
                                        <!-- Message to the right -->
                                        <div b-8vypa4p1b0="" class="direct-chat-msg right">
                                            <div b-8vypa4p1b0="" class="direct-chat-infos clearfix">
                                                <span b-8vypa4p1b0="" class="direct-chat-name float-right">Sarah Bullock</span>
                                                <span b-8vypa4p1b0="" class="direct-chat-timestamp float-left">23 Jan 2:05 pm</span>
                                            </div>
                                            <!-- /.direct-chat-infos -->
                                            <img b-8vypa4p1b0="" class="direct-chat-img" src="dist/img/user3-128x128.jpg" alt="message user image">
                                            <!-- /.direct-chat-img -->
                                            <div b-8vypa4p1b0="" class="direct-chat-text">
                                                You better believe it!
                                            </div>
                                            <!-- /.direct-chat-text -->
                                        </div>
                                        <!-- /.direct-chat-msg -->
                                        <!-- Message. Default to the left -->
                                        <div b-8vypa4p1b0="" class="direct-chat-msg">
                                            <div b-8vypa4p1b0="" class="direct-chat-infos clearfix">
                                                <span b-8vypa4p1b0="" class="direct-chat-name float-left">Alexander Pierce</span>
                                                <span b-8vypa4p1b0="" class="direct-chat-timestamp float-right">23 Jan 5:37 pm</span>
                                            </div>
                                            <!-- /.direct-chat-infos -->
                                            <img b-8vypa4p1b0="" class="direct-chat-img" src="dist/img/user1-128x128.jpg" alt="message user image">
                                            <!-- /.direct-chat-img -->
                                            <div b-8vypa4p1b0="" class="direct-chat-text">
                                                Working with AdminLTE on a great new app! Wanna join?
                                            </div>
                                            <!-- /.direct-chat-text -->
                                        </div>
                                        <!-- /.direct-chat-msg -->
                                        <!-- Message to the right -->
                                        <div b-8vypa4p1b0="" class="direct-chat-msg right">
                                            <div b-8vypa4p1b0="" class="direct-chat-infos clearfix">
                                                <span b-8vypa4p1b0="" class="direct-chat-name float-right">Sarah Bullock</span>
                                                <span b-8vypa4p1b0="" class="direct-chat-timestamp float-left">23 Jan 6:10 pm</span>
                                            </div>
                                            <!-- /.direct-chat-infos -->
                                            <img b-8vypa4p1b0="" class="direct-chat-img" src="dist/img/user3-128x128.jpg" alt="message user image">
                                            <!-- /.direct-chat-img -->
                                            <div b-8vypa4p1b0="" class="direct-chat-text">
                                                I would love to.
                                            </div>
                                            <!-- /.direct-chat-text -->
                                        </div>
                                        <!-- /.direct-chat-msg -->

                                    </div>
                                    <!--/.direct-chat-messages-->
                                    <!-- Contacts are loaded here -->
                                    <div b-8vypa4p1b0="" class="direct-chat-contacts">
                                        <ul b-8vypa4p1b0="" class="contacts-list">
                                            <li b-8vypa4p1b0="">
                                                <a b-8vypa4p1b0="" href="#">
                                                    <img b-8vypa4p1b0="" class="contacts-list-img" src="dist/img/user1-128x128.jpg" alt="User Avatar">

                                                    <div b-8vypa4p1b0="" class="contacts-list-info">
                                                        <span b-8vypa4p1b0="" class="contacts-list-name">
                                                            Count Dracula
                                                            <small b-8vypa4p1b0="" class="contacts-list-date float-right">2/28/2015</small>
                                                        </span>
                                                        <span b-8vypa4p1b0="" class="contacts-list-msg">How have you been? I was...</span>
                                                    </div>
                                                    <!-- /.contacts-list-info -->
                                                </a>
                                            </li>
                                            <!-- End Contact Item -->
                                            <li b-8vypa4p1b0="">
                                                <a b-8vypa4p1b0="" href="#">
                                                    <img b-8vypa4p1b0="" class="contacts-list-img" src="dist/img/user7-128x128.jpg" alt="User Avatar">

                                                    <div b-8vypa4p1b0="" class="contacts-list-info">
                                                        <span b-8vypa4p1b0="" class="contacts-list-name">
                                                            Sarah Doe
                                                            <small b-8vypa4p1b0="" class="contacts-list-date float-right">2/23/2015</small>
                                                        </span>
                                                        <span b-8vypa4p1b0="" class="contacts-list-msg">I will be waiting for...</span>
                                                    </div>
                                                    <!-- /.contacts-list-info -->
                                                </a>
                                            </li>
                                            <!-- End Contact Item -->
                                            <li b-8vypa4p1b0="">
                                                <a b-8vypa4p1b0="" href="#">
                                                    <img b-8vypa4p1b0="" class="contacts-list-img" src="dist/img/user3-128x128.jpg" alt="User Avatar">

                                                    <div b-8vypa4p1b0="" class="contacts-list-info">
                                                        <span b-8vypa4p1b0="" class="contacts-list-name">
                                                            Nadia Jolie
                                                            <small b-8vypa4p1b0="" class="contacts-list-date float-right">2/20/2015</small>
                                                        </span>
                                                        <span b-8vypa4p1b0="" class="contacts-list-msg">I'll call you back at...</span>
                                                    </div>
                                                    <!-- /.contacts-list-info -->
                                                </a>
                                            </li>
                                            <!-- End Contact Item -->
                                            <li b-8vypa4p1b0="">
                                                <a b-8vypa4p1b0="" href="#">
                                                    <img b-8vypa4p1b0="" class="contacts-list-img" src="dist/img/user5-128x128.jpg" alt="User Avatar">

                                                    <div b-8vypa4p1b0="" class="contacts-list-info">
                                                        <span b-8vypa4p1b0="" class="contacts-list-name">
                                                            Nora S. Vans
                                                            <small b-8vypa4p1b0="" class="contacts-list-date float-right">2/10/2015</small>
                                                        </span>
                                                        <span b-8vypa4p1b0="" class="contacts-list-msg">Where is your new...</span>
                                                    </div>
                                                    <!-- /.contacts-list-info -->
                                                </a>
                                            </li>
                                            <!-- End Contact Item -->
                                            <li b-8vypa4p1b0="">
                                                <a b-8vypa4p1b0="" href="#">
                                                    <img b-8vypa4p1b0="" class="contacts-list-img" src="dist/img/user6-128x128.jpg" alt="User Avatar">

                                                    <div b-8vypa4p1b0="" class="contacts-list-info">
                                                        <span b-8vypa4p1b0="" class="contacts-list-name">
                                                            John K.
                                                            <small b-8vypa4p1b0="" class="contacts-list-date float-right">1/27/2015</small>
                                                        </span>
                                                        <span b-8vypa4p1b0="" class="contacts-list-msg">Can I take a look at...</span>
                                                    </div>
                                                    <!-- /.contacts-list-info -->
                                                </a>
                                            </li>
                                            <!-- End Contact Item -->
                                            <li b-8vypa4p1b0="">
                                                <a b-8vypa4p1b0="" href="#">
                                                    <img b-8vypa4p1b0="" class="contacts-list-img" src="dist/img/user8-128x128.jpg" alt="User Avatar">

                                                    <div b-8vypa4p1b0="" class="contacts-list-info">
                                                        <span b-8vypa4p1b0="" class="contacts-list-name">
                                                            Kenneth M.
                                                            <small b-8vypa4p1b0="" class="contacts-list-date float-right">1/4/2015</small>
                                                        </span>
                                                        <span b-8vypa4p1b0="" class="contacts-list-msg">Never mind I found...</span>
                                                    </div>
                                                    <!-- /.contacts-list-info -->
                                                </a>
                                            </li>
                                            <!-- End Contact Item -->
                                        </ul>
                                        <!-- /.contacts-list -->
                                    </div>
                                    <!-- /.direct-chat-pane -->
                                </div>
                                <!-- /.card-body -->
                                <div b-8vypa4p1b0="" class="card-footer">
                                    <form action="#" method="post">
                                        <div b-8vypa4p1b0="" class="input-group">
                                            <input b-8vypa4p1b0="" type="text" name="message" placeholder="Type Message ..." class="form-control">
                                            <span b-8vypa4p1b0="" class="input-group-append">
                                                <button b-8vypa4p1b0="" type="button" class="btn btn-warning">Send</button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                                <!-- /.card-footer-->
                            </div>
                            <!--/.direct-chat -->
                        </div>
                        <!-- /.col -->

                        <div b-8vypa4p1b0="" class="col-md-6">
                            <!-- USERS LIST -->
                            <div b-8vypa4p1b0="" class="card">
                                <div b-8vypa4p1b0="" class="card-header">
                                    <h3 b-8vypa4p1b0="" class="card-title">Latest Members</h3>

                                    <div b-8vypa4p1b0="" class="card-tools">
                                        <span b-8vypa4p1b0="" class="badge badge-danger">8 New Members</span>
                                        <button b-8vypa4p1b0="" type="button" class="btn btn-tool" data-card-widget="collapse">
                                            <i b-8vypa4p1b0="" class="fas fa-minus"></i>
                                        </button>
                                        <button b-8vypa4p1b0="" type="button" class="btn btn-tool" data-card-widget="remove">
                                            <i b-8vypa4p1b0="" class="fas fa-times"></i>
                                        </button>
                                    </div>
                                </div>
                                <!-- /.card-header -->
                                <div b-8vypa4p1b0="" class="card-body p-0">
                                    <ul b-8vypa4p1b0="" class="users-list clearfix">
                                        <li b-8vypa4p1b0="">
                                            <img b-8vypa4p1b0="" src="dist/img/user1-128x128.jpg" alt="User Image">
                                            <a b-8vypa4p1b0="" class="users-list-name" href="#">Alexander Pierce</a>
                                            <span b-8vypa4p1b0="" class="users-list-date">Today</span>
                                        </li>
                                        <li b-8vypa4p1b0="">
                                            <img b-8vypa4p1b0="" src="dist/img/user8-128x128.jpg" alt="User Image">
                                            <a b-8vypa4p1b0="" class="users-list-name" href="#">Norman</a>
                                            <span b-8vypa4p1b0="" class="users-list-date">Yesterday</span>
                                        </li>
                                        <li b-8vypa4p1b0="">
                                            <img b-8vypa4p1b0="" src="dist/img/user7-128x128.jpg" alt="User Image">
                                            <a b-8vypa4p1b0="" class="users-list-name" href="#">Jane</a>
                                            <span b-8vypa4p1b0="" class="users-list-date">12 Jan</span>
                                        </li>
                                        <li b-8vypa4p1b0="">
                                            <img b-8vypa4p1b0="" src="dist/img/user6-128x128.jpg" alt="User Image">
                                            <a b-8vypa4p1b0="" class="users-list-name" href="#">John</a>
                                            <span b-8vypa4p1b0="" class="users-list-date">12 Jan</span>
                                        </li>
                                        <li b-8vypa4p1b0="">
                                            <img b-8vypa4p1b0="" src="dist/img/user2-160x160.jpg" alt="User Image">
                                            <a b-8vypa4p1b0="" class="users-list-name" href="#">Alexander</a>
                                            <span b-8vypa4p1b0="" class="users-list-date">13 Jan</span>
                                        </li>
                                        <li b-8vypa4p1b0="">
                                            <img b-8vypa4p1b0="" src="dist/img/user5-128x128.jpg" alt="User Image">
                                            <a b-8vypa4p1b0="" class="users-list-name" href="#">Sarah</a>
                                            <span b-8vypa4p1b0="" class="users-list-date">14 Jan</span>
                                        </li>
                                        <li b-8vypa4p1b0="">
                                            <img b-8vypa4p1b0="" src="dist/img/user4-128x128.jpg" alt="User Image">
                                            <a b-8vypa4p1b0="" class="users-list-name" href="#">Nora</a>
                                            <span b-8vypa4p1b0="" class="users-list-date">15 Jan</span>
                                        </li>
                                        <li b-8vypa4p1b0="">
                                            <img b-8vypa4p1b0="" src="dist/img/user3-128x128.jpg" alt="User Image">
                                            <a b-8vypa4p1b0="" class="users-list-name" href="#">Nadia</a>
                                            <span b-8vypa4p1b0="" class="users-list-date">15 Jan</span>
                                        </li>
                                    </ul>
                                    <!-- /.users-list -->
                                </div>
                                <!-- /.card-body -->
                                <div b-8vypa4p1b0="" class="card-footer text-center">
                                    <a b-8vypa4p1b0="" href="javascript:">View All Users</a>
                                </div>
                                <!-- /.card-footer -->
                            </div>
                            <!--/.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                    <!-- TABLE: LATEST ORDERS -->
                    <div b-8vypa4p1b0="" class="card">
                        <div b-8vypa4p1b0="" class="card-header border-transparent">
                            <h3 b-8vypa4p1b0="" class="card-title">Latest Orders</h3>

                            <div b-8vypa4p1b0="" class="card-tools">
                                <button b-8vypa4p1b0="" type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i b-8vypa4p1b0="" class="fas fa-minus"></i>
                                </button>
                                <button b-8vypa4p1b0="" type="button" class="btn btn-tool" data-card-widget="remove">
                                    <i b-8vypa4p1b0="" class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div b-8vypa4p1b0="" class="card-body p-0">
                            <div b-8vypa4p1b0="" class="table-responsive">
                                <table b-8vypa4p1b0="" class="table m-0">
                                    <thead b-8vypa4p1b0="">
                                        <tr b-8vypa4p1b0="">
                                            <th b-8vypa4p1b0="">Order ID</th>
                                            <th b-8vypa4p1b0="">Item</th>
                                            <th b-8vypa4p1b0="">Status</th>
                                            <th b-8vypa4p1b0="">Popularity</th>
                                        </tr>
                                    </thead>
                                    <tbody b-8vypa4p1b0="">
                                        <tr b-8vypa4p1b0="">
                                            <td b-8vypa4p1b0=""><a b-8vypa4p1b0="" href="pages/examples/invoice.html">OR9842</a></td>
                                            <td b-8vypa4p1b0="">Call of Duty IV</td>
                                            <td b-8vypa4p1b0=""><span b-8vypa4p1b0="" class="badge badge-success">Shipped</span></td>
                                            <td b-8vypa4p1b0="">
                                                <div b-8vypa4p1b0="" class="sparkbar" data-color="#00a65a" data-height="20">90,80,90,-70,61,-83,63</div>
                                            </td>
                                        </tr>
                                        <tr b-8vypa4p1b0="">
                                            <td b-8vypa4p1b0=""><a b-8vypa4p1b0="" href="pages/examples/invoice.html">OR1848</a></td>
                                            <td b-8vypa4p1b0="">Samsung Smart TV</td>
                                            <td b-8vypa4p1b0=""><span b-8vypa4p1b0="" class="badge badge-warning">Pending</span></td>
                                            <td b-8vypa4p1b0="">
                                                <div b-8vypa4p1b0="" class="sparkbar" data-color="#f39c12" data-height="20">90,80,-90,70,61,-83,68</div>
                                            </td>
                                        </tr>
                                        <tr b-8vypa4p1b0="">
                                            <td b-8vypa4p1b0=""><a b-8vypa4p1b0="" href="pages/examples/invoice.html">OR7429</a></td>
                                            <td b-8vypa4p1b0="">iPhone 6 Plus</td>
                                            <td b-8vypa4p1b0=""><span b-8vypa4p1b0="" class="badge badge-danger">Delivered</span></td>
                                            <td b-8vypa4p1b0="">
                                                <div b-8vypa4p1b0="" class="sparkbar" data-color="#f56954" data-height="20">90,-80,90,70,-61,83,63</div>
                                            </td>
                                        </tr>
                                        <tr b-8vypa4p1b0="">
                                            <td b-8vypa4p1b0=""><a b-8vypa4p1b0="" href="pages/examples/invoice.html">OR7429</a></td>
                                            <td b-8vypa4p1b0="">Samsung Smart TV</td>
                                            <td b-8vypa4p1b0=""><span b-8vypa4p1b0="" class="badge badge-info">Processing</span></td>
                                            <td b-8vypa4p1b0="">
                                                <div b-8vypa4p1b0="" class="sparkbar" data-color="#00c0ef" data-height="20">90,80,-90,70,-61,83,63</div>
                                            </td>
                                        </tr>
                                        <tr b-8vypa4p1b0="">
                                            <td b-8vypa4p1b0=""><a b-8vypa4p1b0="" href="pages/examples/invoice.html">OR1848</a></td>
                                            <td b-8vypa4p1b0="">Samsung Smart TV</td>
                                            <td b-8vypa4p1b0=""><span b-8vypa4p1b0="" class="badge badge-warning">Pending</span></td>
                                            <td b-8vypa4p1b0="">
                                                <div b-8vypa4p1b0="" class="sparkbar" data-color="#f39c12" data-height="20">90,80,-90,70,61,-83,68</div>
                                            </td>
                                        </tr>
                                        <tr b-8vypa4p1b0="">
                                            <td b-8vypa4p1b0=""><a b-8vypa4p1b0="" href="pages/examples/invoice.html">OR7429</a></td>
                                            <td b-8vypa4p1b0="">iPhone 6 Plus</td>
                                            <td b-8vypa4p1b0=""><span b-8vypa4p1b0="" class="badge badge-danger">Delivered</span></td>
                                            <td b-8vypa4p1b0="">
                                                <div b-8vypa4p1b0="" class="sparkbar" data-color="#f56954" data-height="20">90,-80,90,70,-61,83,63</div>
                                            </td>
                                        </tr>
                                        <tr b-8vypa4p1b0="">
                                            <td b-8vypa4p1b0=""><a b-8vypa4p1b0="" href="pages/examples/invoice.html">OR9842</a></td>
                                            <td b-8vypa4p1b0="">Call of Duty IV</td>
                                            <td b-8vypa4p1b0=""><span b-8vypa4p1b0="" class="badge badge-success">Shipped</span></td>
                                            <td b-8vypa4p1b0="">
                                                <div b-8vypa4p1b0="" class="sparkbar" data-color="#00a65a" data-height="20">90,80,90,-70,61,-83,63</div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.card-body -->
                        <div b-8vypa4p1b0="" class="card-footer clearfix">
                            <a b-8vypa4p1b0="" href="javascript:void(0)" class="btn btn-sm btn-info float-left">Place New Order</a>
                            <a b-8vypa4p1b0="" href="javascript:void(0)" class="btn btn-sm btn-secondary float-right">View All Orders</a>
                        </div>
                        <!-- /.card-footer -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->

                <div b-8vypa4p1b0="" class="col-md-4">
                    <!-- Info Boxes Style 2 -->
                    <div b-8vypa4p1b0="" class="info-box mb-3 bg-warning">
                        <span b-8vypa4p1b0="" class="info-box-icon"><i b-8vypa4p1b0="" class="fas fa-tag"></i></span>

                        <div b-8vypa4p1b0="" class="info-box-content">
                            <span b-8vypa4p1b0="" class="info-box-text">Inventory</span>
                            <span b-8vypa4p1b0="" class="info-box-number">5,200</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                    <div b-8vypa4p1b0="" class="info-box mb-3 bg-success">
                        <span b-8vypa4p1b0="" class="info-box-icon"><i b-8vypa4p1b0="" class="far fa-heart"></i></span>

                        <div b-8vypa4p1b0="" class="info-box-content">
                            <span b-8vypa4p1b0="" class="info-box-text">Mentions</span>
                            <span b-8vypa4p1b0="" class="info-box-number">92,050</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                    <div b-8vypa4p1b0="" class="info-box mb-3 bg-danger">
                        <span b-8vypa4p1b0="" class="info-box-icon"><i b-8vypa4p1b0="" class="fas fa-cloud-download-alt"></i></span>

                        <div b-8vypa4p1b0="" class="info-box-content">
                            <span b-8vypa4p1b0="" class="info-box-text">Downloads</span>
                            <span b-8vypa4p1b0="" class="info-box-number">114,381</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                    <div b-8vypa4p1b0="" class="info-box mb-3 bg-info">
                        <span b-8vypa4p1b0="" class="info-box-icon"><i b-8vypa4p1b0="" class="far fa-comment"></i></span>

                        <div b-8vypa4p1b0="" class="info-box-content">
                            <span b-8vypa4p1b0="" class="info-box-text">Direct Messages</span>
                            <span b-8vypa4p1b0="" class="info-box-number">163,921</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->

                    <div b-8vypa4p1b0="" class="card">
                        <div b-8vypa4p1b0="" class="card-header">
                            <h3 b-8vypa4p1b0="" class="card-title">Browser Usage</h3>

                            <div b-8vypa4p1b0="" class="card-tools">
                                <button b-8vypa4p1b0="" type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i b-8vypa4p1b0="" class="fas fa-minus"></i>
                                </button>
                                <button b-8vypa4p1b0="" type="button" class="btn btn-tool" data-card-widget="remove">
                                    <i b-8vypa4p1b0="" class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div b-8vypa4p1b0="" class="card-body">
                            <div b-8vypa4p1b0="" class="row">
                                <div b-8vypa4p1b0="" class="col-md-8">
                                    <div b-8vypa4p1b0="" class="chart-responsive">
                                        <canvas b-8vypa4p1b0="" id="pieChart" height="150"></canvas>
                                    </div>
                                    <!-- ./chart-responsive -->
                                </div>
                                <!-- /.col -->
                                <div b-8vypa4p1b0="" class="col-md-4">
                                    <ul b-8vypa4p1b0="" class="chart-legend clearfix">
                                        <li b-8vypa4p1b0=""><i b-8vypa4p1b0="" class="far fa-circle text-danger"></i> Chrome</li>
                                        <li b-8vypa4p1b0=""><i b-8vypa4p1b0="" class="far fa-circle text-success"></i> IE</li>
                                        <li b-8vypa4p1b0=""><i b-8vypa4p1b0="" class="far fa-circle text-warning"></i> FireFox</li>
                                        <li b-8vypa4p1b0=""><i b-8vypa4p1b0="" class="far fa-circle text-info"></i> Safari</li>
                                        <li b-8vypa4p1b0=""><i b-8vypa4p1b0="" class="far fa-circle text-primary"></i> Opera</li>
                                        <li b-8vypa4p1b0=""><i b-8vypa4p1b0="" class="far fa-circle text-secondary"></i> Navigator</li>
                                    </ul>
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.card-body -->
                        <div b-8vypa4p1b0="" class="card-footer bg-light p-0">
                            <ul b-8vypa4p1b0="" class="nav nav-pills flex-column">
                                <li b-8vypa4p1b0="" class="nav-item">
                                    <a b-8vypa4p1b0="" href="#" class="nav-link">
                                        United States of America
                                        <span b-8vypa4p1b0="" class="float-right text-danger">
                                            <i b-8vypa4p1b0="" class="fas fa-arrow-down text-sm"></i>
                                            12%
                                        </span>
                                    </a>
                                </li>
                                <li b-8vypa4p1b0="" class="nav-item">
                                    <a b-8vypa4p1b0="" href="#" class="nav-link">
                                        India
                                        <span b-8vypa4p1b0="" class="float-right text-success">
                                            <i b-8vypa4p1b0="" class="fas fa-arrow-up text-sm"></i> 4%
                                        </span>
                                    </a>
                                </li>
                                <li b-8vypa4p1b0="" class="nav-item">
                                    <a b-8vypa4p1b0="" href="#" class="nav-link">
                                        China
                                        <span b-8vypa4p1b0="" class="float-right text-warning">
                                            <i b-8vypa4p1b0="" class="fas fa-arrow-left text-sm"></i> 0%
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.footer -->
                    </div>
                    <!-- /.card -->
                    <!-- PRODUCT LIST -->
                    <div b-8vypa4p1b0="" class="card">
                        <div b-8vypa4p1b0="" class="card-header">
                            <h3 b-8vypa4p1b0="" class="card-title">Recently Added Products</h3>

                            <div b-8vypa4p1b0="" class="card-tools">
                                <button b-8vypa4p1b0="" type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i b-8vypa4p1b0="" class="fas fa-minus"></i>
                                </button>
                                <button b-8vypa4p1b0="" type="button" class="btn btn-tool" data-card-widget="remove">
                                    <i b-8vypa4p1b0="" class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div b-8vypa4p1b0="" class="card-body p-0">
                            <ul b-8vypa4p1b0="" class="products-list product-list-in-card pl-2 pr-2">
                                <li b-8vypa4p1b0="" class="item">
                                    <div b-8vypa4p1b0="" class="product-img">
                                        <img b-8vypa4p1b0="" src="dist/img/default-150x150.png" alt="Product Image" class="img-size-50">
                                    </div>
                                    <div b-8vypa4p1b0="" class="product-info">
                                        <a b-8vypa4p1b0="" href="javascript:void(0)" class="product-title">
                                            Samsung TV
                                            <span b-8vypa4p1b0="" class="badge badge-warning float-right">$1800</span>
                                        </a>
                                        <span b-8vypa4p1b0="" class="product-description">
                                            Samsung 32" 1080p 60Hz LED Smart HDTV.
                                        </span>
                                    </div>
                                </li>
                                <!-- /.item -->
                                <li b-8vypa4p1b0="" class="item">
                                    <div b-8vypa4p1b0="" class="product-img">
                                        <img b-8vypa4p1b0="" src="dist/img/default-150x150.png" alt="Product Image" class="img-size-50">
                                    </div>
                                    <div b-8vypa4p1b0="" class="product-info">
                                        <a b-8vypa4p1b0="" href="javascript:void(0)" class="product-title">
                                            Bicycle
                                            <span b-8vypa4p1b0="" class="badge badge-info float-right">$700</span>
                                        </a>
                                        <span b-8vypa4p1b0="" class="product-description">
                                            26" Mongoose Dolomite Men's 7-speed, Navy Blue.
                                        </span>
                                    </div>
                                </li>
                                <!-- /.item -->
                                <li b-8vypa4p1b0="" class="item">
                                    <div b-8vypa4p1b0="" class="product-img">
                                        <img b-8vypa4p1b0="" src="dist/img/default-150x150.png" alt="Product Image" class="img-size-50">
                                    </div>
                                    <div b-8vypa4p1b0="" class="product-info">
                                        <a b-8vypa4p1b0="" href="javascript:void(0)" class="product-title">
                                            Xbox One <span b-8vypa4p1b0="" class="badge badge-danger float-right">
                                                z              $350
                                            </span>
                                        </a>
                                        <span b-8vypa4p1b0="" class="product-description">
                                            Xbox One Console Bundle with Halo Master Chief Collection.
                                        </span>
                                    </div>
                                </li>
                                <!-- /.item -->
                                <li b-8vypa4p1b0="" class="item">
                                    <div b-8vypa4p1b0="" class="product-img">
                                        <img b-8vypa4p1b0="" src="dist/img/default-150x150.png" alt="Product Image" class="img-size-50">
                                    </div>
                                    <div b-8vypa4p1b0="" class="product-info">
                                        <a b-8vypa4p1b0="" href="javascript:void(0)" class="product-title">
                                            PlayStation 4
                                            <span b-8vypa4p1b0="" class="badge badge-success float-right">$399</span>
                                        </a>
                                        <span b-8vypa4p1b0="" class="product-description">
                                            PlayStation 4 500GB Console (PS4)
                                        </span>
                                    </div>
                                </li>
                                <!-- /.item -->
                            </ul>
                        </div>
                        <!-- /.card-body -->
                        <div b-8vypa4p1b0="" class="card-footer text-center">
                            <a b-8vypa4p1b0="" href="javascript:void(0)" class="uppercase">View All Products</a>
                        </div>
                        <!-- /.card-footer -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div><!--/. container-fluid -->
    </section>
    <!-- /.content -->
</div>